@import '../scss/bootstrap';


.buttonA{
    .btn{
        padding: 12px;
        min-width: 120px;
        box-shadow: unset!important;
        position: relative;
        transition: all 0.4s;
        border: 2px;
        z-index: 1;
        &:hover{
            transition: all 0.4s;
            // background-color: transparent;
            // color: #000;
        }
        &:active{
            transform: scale(0.8);
            transition: all 0.1s;
        }
    }

}

// -------- btn1 End--------

.buttonB{
    .btn{
        padding: 12px;
        min-width: 120px;
        box-shadow: unset!important;
        // background-color: #3860a9;
        // background-image: linear-gradient(0deg, #3860a9, #4473cc);
        position: relative;
        transition: all 0.4s;
        z-index: 1;
        // &:before{
        //     content: '';
        //     display: block;
        //     width: 100%;
        //     position: absolute;
        //     top: 0px;
        //     left: 0px;
        //     height: 100%;
        //     background: #3860a9;
        //     background-image: linear-gradient(0deg, #3860a9, #638cda);
        //     z-index: -2;
        //     transition: all 0.4s;
        // }

        &:hover{
            height: 100%;
            transition: all 0.4s;
           
        }
        &:active{
            transform: scale(0.92) rotate(4deg);
            transition: unset;
        }
    }
}

// ----- btn2 End-----
