
@import "../scss/bootstrap";

@mixin min-width($arg) {
    @media screen and (min-width: ($arg)) {
        @content;
    }
}

.pagionationInner1{
    margin: 40px auto;
    @include min-width(992px){
        margin: 60px auto;

    }
    ul{
        display: flex;
        list-style: none;
        margin-bottom: unset;
        padding: unset;
        li{
            &:not(:last-child){
                margin-right: 5px;
            }
        }
        a{
            display: inline-block;
            text-decoration: none;
            background-color: #7c7c7c;
            color: #fff;
            border-radius: 50%;
            height: 25px;
            width: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                background-color: #ccc;
                color: #000;

            }
        }
    }
}

// pagionationInner 1 END -------

.pagionationInner2{
    margin: 40px auto;
    @include min-width(992px){
        margin: 60px auto;

    }
    ul{
        display: flex;
        list-style: none;
        margin-bottom: unset;
        padding: unset;
        li{
            &:not(:last-child){
                margin-right: 5px;
            }
        }
        a{
            display: inline-block;
            text-decoration: none;
            background-color: #7c7c7c;
            color: #fff;
            border-radius: 0%;
            height: 25px;
            width: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                background-color: #ccc;
                color: #000;
            }
        }
    }
}

// pagionationInner 2 END -------






























