.popupImg1 {
  margin: 40px 0px;
}

@media screen and (min-width: 992px) {
  .popupImg1 {
    margin: 70px 0px;
  }
}

.storiesvideo_align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.storiesvideo_align .stories_video {
  position: relative;
  margin: 16px 10px;
}

@media screen and (min-width: 992px) {
  .storiesvideo_align .stories_video {
    margin: 22px 0;
  }
}

.storiesvideo_align .stories_video:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #020024;
  opacity: 0.5;
}

.storiesvideo_align .stories_video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.storiesvideo_align .stories_video a {
  text-decoration: none;
  position: absolute;
  line-height: 3.5;
  top: 50%;
  left: 50%;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  cursor: pointer;
}

.storiesvideo_align .stories_video .mediaimg_inner {
  width: 261px;
  height: 280px;
}

@media screen and (min-width: 576px) {
  .storiesvideo_align .stories_video .mediaimg_inner {
    width: 460px;
    height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .storiesvideo_align .stories_video .mediaimg_inner {
    width: 330px;
    height: 339px;
  }
}

@media screen and (min-width: 992px) {
  .storiesvideo_align .stories_video .mediaimg_inner {
    width: 285px;
    height: 335px;
  }
}

@media screen and (min-width: 992px) {
  .storiesvideo_align .stories_video .mediaimg_inner {
    width: 335px;
    height: 350px;
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.stroke-dotted {
  opacity: 0;
  stroke-dasharray: 4, 5;
  stroke-width: 1px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-animation: spin 4s infinite linear;
  animation: spin 4s infinite linear;
  -webkit-transition: opacity 1s ease, stroke-width 1s ease;
  transition: opacity 1s ease, stroke-width 1s ease;
}

.stroke-solid {
  stroke-dashoffset: 0;
  stroke-dashArray: 300;
  stroke-width: 4px;
  -webkit-transition: stroke-dashoffset 1s ease, opacity 1s ease;
  transition: stroke-dashoffset 1s ease, opacity 1s ease;
}

.icon {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

#play:hover .stroke-dotted {
  stroke-width: 4px;
  opacity: 1;
}

#play:hover .stroke-solid {
  opacity: 0;
  stroke-dashoffset: 300;
}

#play:hover .icon {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#play {
  cursor: pointer;
  position: absolute;
  top: 37%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

@media screen and (min-width: 1200px) {
  .YouTubePopUp-Content {
    display: block;
    max-width: 85%;
    height: 90%;
    position: relative;
    margin: 0px auto;
    top: 35px;
  }
  .YouTubePopUp-Content iframe {
    width: 100% !important;
    display: block !important;
    height: 100% !important;
    border: none !important;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    margin: 0 auto;
  }
}

.popUp2 {
  padding: 50px 0;
}

.popUp2 .fov-success-story {
  position: relative;
  overflow: hidden;
  background-color: #244456;
  margin-bottom: 20px;
}

.popUp2 .fov-success-story:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.popUp2 .fov-success-story:hover a {
  -webkit-transform: scale(1.1) translate(-50%, -50%);
          transform: scale(1.1) translate(-50%, -50%);
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.popUp2 .fov-success-story img {
  width: 100%;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 576px) {
  .popUp2 .fov-success-story img {
    height: 190px;
  }
}

@media screen and (min-width: 1200px) {
  .popUp2 .fov-success-story img {
    height: 255px;
  }
}

.popUp2 .fov-success-story a {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  background-color: #1dad50;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  -webkit-filter: blur(3px);
          filter: blur(3px);
  cursor: pointer;
}

.popUp2 .fov-success-story a i {
  line-height: 60px;
  font-size: 22px;
  position: relative;
  left: 3px;
}

.popUp2 .RB_slider {
  background-color: #023815;
  color: #fff;
  padding: 30px 0;
}

.popUp2 .RB_postimgSec {
  padding-top: 40px;
  padding-bottom: 40px;
}

.popUp2 .fov-article-meta {
  margin-bottom: 40px;
  text-align: center;
  padding: 5px 20px;
  background-color: #f5f5f5;
  margin-top: 24px;
}

.popUp2 .fov-article-meta ul {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #444;
}

.popUp2 ul.listInline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popUp2 ul.listNone {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popUp2 ul.listNone li a {
  color: #000;
  text-decoration: none;
}

.popUp2 .fov-article-meta ul li {
  margin-right: 10px;
  line-height: 2;
}

.popUp2 .fov-article-meta ul li:not(:last-child):after {
  content: "|";
  margin-left: 12px;
}

.popUp2 .RB_para p {
  margin-bottom: 17px;
  color: #646363;
}

.popUp2 .RB_para p:last-child {
  margin-bottom: unset;
}

@media screen and (min-width: 1200px) {
  .YouTubePopUp-Content {
    display: block;
    max-width: 85%;
    height: 90%;
    position: relative;
    margin: 0px auto;
    top: 35px;
  }
  .YouTubePopUp-Content iframe {
    width: 100% !important;
    display: block !important;
    height: 100% !important;
    border: none !important;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */